.container{
    margin-bottom: 80px;
}
.green-bg{
    background-color:#f0fff0;
}
.container img{
     width: 100%;
}
.btn{
    width: max-content;
    color: white;
    border-radius: 20px;
    background-color: #21b573;
}
.navbar-nav a{
    font-weight: 700;
    
}
.row{
    padding: 20px 40px ;
    bor
}
.row h1{
    font-size: 50px;
    font-weight: bolder;
}
.row h6{
    color: orangered;
}
.row p{
    color: gray;
}
.green-text{
    color:#21b573 ;
}
.sec1, .sec2, .sec3, .sec4{
    background-color: #f8fffb;
    padding: 40px 40px;
    text-align: center;
    align-items: center;
}

.sec1 img{
    width: 66%;
    align-items: center;
}
.sec2 img{
    width: 80%;
}
.sec3 img{
    width: 75%;
}
.sec4 img{
    width: 68%;
}
.sec1:hover{
    background-color:rgb(243, 239, 239);
    box-shadow: 5px 10px 30px gray;
    transition: 1s;
}
.sec2:hover{
    background-color:rgb(243, 239, 239);
    box-shadow: 5px 10px 30px gray;
    transition: 1s;
}
.sec3:hover{
    background-color:rgb(243, 239, 239);
    box-shadow: 5px 10px 30px gray;
    transition: 1s;
}
.sec4:hover{
    background-color:rgb(243, 239, 239);
    box-shadow: 5px 10px 30px gray;
    transition: 1s;
}