.container{
    margin-bottom: 80px;
    
}
.green-bg{
    background-color:#f0fff0;
}
.container img{
     width: 100%;
     ima;
}
.btn{
    width: max-content;
    color: white;
    border-radius: 20px;
    background-color: #21b573;
}
.navbar-nav a{
    font-weight: 700;
    
}
.row{
    padding: 20px 40px ;
    bor
}
.row h1{
    font-size: 50px;
    font-weight: bolder;
}
.row h6{
    color: orangered;
}
.row p{
    color: rgb(87, 84, 84);
}
.green-text{
    color:#21b573 ;
}
.sec1, .sec2, .sec3, .sec4{
    background-color: #f1faf5;
    padding: 40px 40px;
    text-align: center;
    align-items: center;
    border-radius: 10px;
}

.sec1 img{
    width: 66px;
    height: 85px;
    
}
.sec2 img{
    width: 80px;
    height: 83px;
}
.sec3 img{
    width: 75px;
    height: 80px;
}
.sec4 img{
    width: 68px;
    height: 76px;
}
.sec1:hover{
    background-color:rgb(243, 239, 239);
    box-shadow: 5px 10px 30px gray;
    transition: 1s;
}
.sec2:hover{
    background-color:rgb(243, 239, 239);
    box-shadow: 5px 10px 30px gray;
    transition: 1s;
}
.sec3:hover{
    background-color:rgb(243, 239, 239);
    box-shadow: 5px 10px 30px gray;
    transition: 1s;
}
.sec4:hover{
    background-color:rgb(243, 239, 239);
    box-shadow: 5px 10px 30px gray;
    transition: 1s;
}

.card{
    border: none;
    border-radius: 20px;
    padding: 20px 30px;
    box-shadow: 5px 10px 30px lightgray;

}
.course{
    margin-top: 40px;
}
.course-footer img{
    width: 24px;
    height: 24px;
}
.course-footer small{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    color: #585859;
}
.testimonial{
    margin-top: 40px;
    padding:10px 150px;

}
.testimonial-text{

    font-family: Poppins ;
    margin-top: 15px;
        
}

.footer {
    background: #282531;
    padding: 100px 0;
    color: white;
}
.footer small {
    color: rgb(253, 253, 253);
    font-weight: 300;
    font-size: 18px;
    font-family: Poppins;
    text-decoration: none ;
}
.footer a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.footer a:hover{
    color: rgb(230, 207, 2);
    text-shadow:2px 2px 10px rgb(5, 238, 160);
    font-size:19px;
    /* box-shadow: 0px 0px 20px rgb(252, 251, 250); */
    
}
.copyright {
    background: #282531;
    padding: 18px 0 5px;
    color: #bdbdbd;
    font-size: 15px;
    font-family: Poppins;
}
